[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-shell-ipython = "*"

[dev-packages]
"flake8" = "*"
black = "*"
mypy = "*"
"flake8-bugbear" = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
