[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-shell-ipython = "*"
blinker = "*"
simplejson = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.6"
